.bg{
    background-color: transparent;   
}
.swiper-slide {
    display: flex;
    align-items: center;
}
.imageWidth{
    filter: grayscale(100%);
    max-width: 100%;
    opacity: 0.3;
    transition: all 0.3s ease-in-out 0s;
}
.imageWidth:hover{
    filter: grayscale(0);
    opacity: 1;
}