.icon{
    width: 60px;
    height: 60px;
    font-size: 24px;
    padding-top: 11px;
    border-radius: 50%;
}

.iconColor{
    background-color: rgba(0, 0, 0, 0.5);
}

.medkitIcon{
    color: #FF3402;
    background-color: rgba(255, 52, 2, .5);
}

.childIcon{
    color: #6fc50d;
    background-color: rgba(127, 212, 27, .5);
}

.planeIcon{
    color: #2fcaa9;
    background-color: rgba(79, 228, 195, .5);
}

.money-bill-altIcon{
    color: #3079cc;
    background-color: rgba(73, 145, 227, .5);
}

.chart-barIcon{
    color: #e49606;
    background-color: rgba(245, 168, 30, .5);
}

.usersIcon{
    color: rgb(104, 47, 0);
    background-color: rgba(104, 47, 0, .5);
}

.pawIcon{
    color: rgb(129, 3, 119);
    background-color: rgba(129, 3, 119, .5);
}

.futbolIcon{
    color: rgb(0, 202, 209);
    background-color: rgba(0, 202, 209, .5);
}

.shadow{
    box-shadow: 0px 2px 20px 0px #bbb;
}