.bg-footer{
    padding: 70px 0 20px;
    background-color: #EFF1F5;
}

.twitterIcon{
    border: 0;
    background-color: #1da1f2;
}

.facebookIcon{
    border: 0;
    background-color: #3b5998;
}

.instagramIcon{
    border: 0;
    background-color: #e1306c;
}

.linkedinIcon{
    border: 0;
    background-color: #0077b5;
}